body { font-family: 'Arial', sans-serif; }

#intro_wrap { background-color: green; color: white; text-align: center; }

// NAV
.left_aside { position: fixed; top: 40px; left: 0; bottom: 65px; width: 175px; border-right: 1px solid #ddd; }

.logo_wrap { font-size: 14px; position: fixed; top: 10px; left: 15px; width: 140px; text-align: center; line-height: 18px; letter-spacing: .09em; color: #aaa; }
.logo_wrap a { color: #839496; text-decoration: none; }
.logo_wrap a:visited { color: #839496; }

.main_nav { position: fixed; left: 35px; top: 135px; text-align: right; width: 125px; }
.main_nav ul { padding: 0; margin: 0; }
.main_nav li { list-style: none; padding-right: 12px; border-right: 3px solid #fff; margin-bottom: 25px; }
.main_nav li:hover { border-right: 3px solid #444; color: #002b36; }
.main_nav li#{{ base }}Nav{ border-right: 3px solid #444; color: #002b36; }
.main_nav a { text-decoration: none; color: #839496; }

.nav_graphic { cursor: pointer; position: fixed; bottom: 10px; left: 25px; font-family: 'EntypoRegular'; font-size: 46px; }
